<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная | PHP2</title>
</head>
<body>
<h1>Последние новости:</h1>
<hr>
{% for article in news %}
<h2>{{ article.title }}</h2>
    <p>{{ article.lead }}</p>
    <p>автор: {{ article.author.name }}</p>
    <a href="/Index/One/?id={{ article.id }}">more</a>
{% endfor %}
<hr>
<footer>
    <a href="/Admin/">Админка</a>
</footer>
</body>
</html>